



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./battleshipBG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: transparent;
    gap: 1rem;
}




.boards{
    display: flex;
    gap: 2rem;
}


.player, .computer{
    display: flex;
    gap: 15px;
}


.board{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    max-width: 500px;
    max-height: 500px;
}




.ships{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shipdiv{
    display: flex;
    width: max-content;
    margin: 0 auto;
}


.shipPart{
    width: min(30px, 2vw);
    height: min(30px, 2vw);
    border: 2px solid rgb(0, 0, 0);
}

.cell{
    width: min(50px, 4vw);
    height: min(50px, 4vw);
    border: 2px solid rgb(0, 0, 0);
}


.cell:hover{
    background-color: yellow;
}

.ship{
    border: 2px solid blue;
}



.buttons{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}


button + button{
    margin-left: 0.9em;
}


button{
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.445);;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
}



button:hover{
    background-color: #fff;
    color: #000;
}


button:hover:disabled{
    cursor: not-allowed;
}


.hit{
    position: relative;
}

.hit:before, .hit:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: red;
}

.hit:before{
    left: 0;
    top: 50%;
    transform: rotate(45deg);
}

.hit:after{
    right: 0;
    top: 50%;
    transform: rotate(-45deg);
}

.miss{
    position: relative;
}

.miss:before{
    position: absolute;
    content: "o";
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

.current{
    background-color: yellow;
}

.destroyed{
    position: relative;
}


.destroyed:before{
    position: absolute;
    content: "";
    width: 100%;
    background-color: red;
    height: 4px;
    top: 40%;
    left: 0;
}


.covered{
    border-color: unset;
    border-color: rgb(0, 0, 0);
}



.sunk{
    border-color: red;
}



@media (max-width : 1030px) {

    body{
        background-position: right;
    }
    .player, .computer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .ships{
        flex-direction: row;
        gap: 5px;
    }


    .computer .ships{
        order: -1;
    }
}



@media (max-width : 615px) {
    body{
        background-repeat: no-repeat;
        background-position: left;
    }


    .boards{
        flex-direction: column;
    }

    .main{
        padding: 1em;
        gap: 0.5em;
    }

    .cell{
        width: min(50px, 7vw);
        height: min(50px, 7vw);
    }

    .ships{
        flex-wrap: wrap;
    }
    .shipPart{
        width: min(30px, 4vw);
        height: min(30px, 4vw);
    }
    

    .player, .computer{
        gap: 10px;
    }

    .boards{
        gap: 0.9rem;
    }
    .buttons{
        width: 90%;
    }

    button{
        padding: 10px 25px;
        font-size: 0.6em;
    }

    .guidance{
        font-size: 1.2em;
    }
}


@media (max-height : 710px) {
    .player, .computer{
        flex-direction: row;
    }

    .ships{
        flex-direction: column;
    }

    .computer .ships{
        order: unset;
    }
}